.backBtn {
  background-color: var(--mainGrey);
  font-size: 0.8rem;
  border-radius: 6px;
  padding: 8px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: ease all 400ms;
  &:hover {
    background-color: var(--mainYellow);
  }


  }
  .cartIcon path {
    cursor: pointer;
    transition: all 400ms ease;
    &:hover {
      transition: all 400ms ease;
      color: var(--mainYellow)
    }
}
